{% extends 'base.html' %}
{% block two %}
{% load label %}
<li style="list-style-type:none;"><a href="###" style="font-size:20px;color:#715" onclick="openShutManager(this,'publish',false,'取消','创建新贴')">创建新贴</a></li>
<div id="publish" style="margin-right:20px;display:none">
    <p></p>
    <div>
         <form action="/publish/" method="post">
             <span style="font-size:16px">选择分类：</span>
             <select style="width:150" name="state" selectedIndex="$!{state}">
                 <option value="图片">图片</option>
                 <option value="文章">文章</option>
                 <option value="新闻">新闻</option>
                 <option value="视频">视频</option>
                 <option value="文化">文化</option>
             </select>
             <p style="height:2px">&nbsp;</p>
             <li style="list-style-type:none;">
                 <ul style="font-size:18px;float:left;width:80px">标题：</ul>
                 <ul><input type="text" name="title" style="height:40px;width:500px" /></ul>
                 <p style="height:2px">&nbsp;</p>
                 <ul style="font-size:18px;float:left;width:80px">摘要：</ul>
                 <ul><input type="text" name="summary" style="height:40px;width:500px" /></ul>
             </li>
             <p style="height:2px">&nbsp;</p>
             <textarea name="content"></textarea>
             {% Judge judge %}
             <p style="height:1px">&nbsp;</p>
             <p style="height:1px">&nbsp;</p>
         </form>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
        {% Paginate bbs 3 %}
        {% for i in current_page.object_list %}
        <a href={% url 'hello' i.pk %}>
        <p>{{ i.title}} --- {{ i.author.name }}</p>
        <p>{{ i.content|safe}}</p>
        </a>
            <div class="mk" style="width:100px;height:100px;background:#a30;display:none;"></div>
          <p>&nbsp;</p>
        {% endfor %}
        {% include 'pagination.html' %}
{% endblock %}
